{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">


<!-- Mixins-->
<!-- Pen Title-->

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Edit Profile</h1>

    <form action = "{% url 'edit_profile' %}" method = "post">
      {% csrf_token %}
        <!--<div class="input-container">
        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
          <input type="text" id="Username" required="required" name="username"/>
          <label for="Username">{{ user.username }}</label>
          <div class="bar"></div>
        </div>
      </div>
        <div class="input-container">
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
          <input type="text" id="Username" required="required" name="email"/>
          <label for="Username">{{ user.email }}</label>
          <div class="bar"></div>
            </div>
        </div>-->
        <div class="input-container">
        <input type="text" id="Username" required="required" name="username"/>
        <label for="Username">User Name</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="email" id="Username" required="required" name="email"/>
        <label for="Username">Email</label>
        <div class="bar"></div>
      </div>
        {% if  user.is_mentor %}
        <!--<form action = "{% url 'edit_profile' %}" method = "post">
      {% csrf_token %}-->
      <div class="input-container">
         <div class="form-group {% if form.user_github.errors %}has-error{% endif %}">
          <input type="text" id="Username" required="required" name="user_github"/>
          <label for="Username">{{ user.user_github }}</label>
          <div class="bar"></div>
         </div>
      </div>
      <div class="input-container">
         <div class="form-group {% if form.user_linkedin.errors %}has-error{% endif %}">
          <input type="text" id="Username" required="required" name="user_linkedin"/>
          <label for="Username">{{ user.user_linkedin }}</label>
          <div class="bar"></div>
         </div>
      </div>
      <div class="input-container">
         <div class="form-group {% if form.user_org.errors %}has-error{% endif %}">
          <input type="text" id="Username" required="required" name="user_org"/>
          <label for="Username">{{ user.user_org }}</label>
          <div class="bar"></div>
         </div>
      </div>
      <div class="input-container">
         <div class="form-group {% if form.user_bio.errors %}has-error{% endif %}">
          <input type="text" id="Username" required="required" name="user_bio"/>
          <label for="Username">{{ user.user_bio }}</label>
          <div class="bar"></div>
         </div>
      </div>
        {%endif %}
      <div class="button-container">
        <button><span>Go</span></button>
      </div>

    </form>
</div>
<!-- Portfolio--><a id="portfolio" href="" title=""><i class="fa fa-link"></i></a>
<!-- CodePen--><a id="codepen" href="" title=""><i class="fa fa-codepen"></i></a>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

  {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>


{% endblock body %}