{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}



<!-- Banner -->
    <section id="banner">
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="intro-message">
                        <h1><span id="knowyour" style="font-family: 'Indie Flower', cursive;p.capitalize {
    text-transform: none;
}">KnowYour</span><span id="org">org</span></h1>
                        <p id="freedom">Your Freedom begins here</p>
                        <br>
                        <br>
                        <div class="form-group" style="padding:0 15% 0 15%">
                            <input class="form-control transparent-input input-lg" type="text" name="name" placeholder="Search organizations..." required="">
                        </div>
                    </div>
                </div>
            </div>
        {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

        </section>




{% endblock body %}
