{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner" xmlns="http://www.w3.org/1999/html">


<!-- Mixins-->
<!-- Pen Title-->

<div class="container" style="padding-bottom:2%">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>

    <form action = "{% url 'login' %}" method = "post">
      {% csrf_token %}
      <div class="input-container">
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
          <input type="text" id="Username" required="required" name="username"/>
          <label for="Username">User name</label>
          <div class="bar"></div>
        </div>
      </div>
      <div class="input-container">
         <div class="form-group {% if form.password.errors %}has-error{% endif %}">
          <input type="password" id="Password" required="required" name="password"/>
          <label for="Password">Password</label>
          <div class="bar"></div>
         </div>
      </div>
        {% if form.errors %}
            <div class="alert alert-danger">
              <i class="fa fa-warning"></i> "Your username and password didn't match. Please try again."
            </div> <!-- alert alert-danger -->
        {% endif %}
      <div class="button-container">
        <button><span>Go</span></button>
      </div>
      <div class="footer"><a href="{% url 'password_reset' %}">Forgot your password?</a></div>


 </form action= "{% url 'register_user' %}" method="post">
    {% csrf_token %}
  </div>
  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
    <form action="{% url 'register_user' %}"  method="post">
    {% csrf_token %}
      <div class="input-container">
        <input type="text" id="Username" required="required" name="username"/>
        <label for="Username">User Name</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="email" id="Username" required="required" name="email"/>
        <label for="Username">Email</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="password" required="required" name="password"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="confirm_password" required="required" name="repass"/>
        <label for="Repeat Password">Repeat Password</label>
        <div class="bar"></div>
      </div>
       <div class="input-container">
      <label class="control-label">Choose a profile picture: </label><br/><br/><br/>
                <div class="input-group">
                    <a class="btn btn-primary" href='javascript:;'><i class="fa fa-upload"></i> Choose File
                        <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="image" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    <span type="text" class="label label-info" id="upload-file-info" value="The full path of the uploaded image will be appeared here" disabled></span>
                </div><!--input-group-->
                </div>
      <div class="button-container">
        <button><span>Register</span></button>
      </div>
    </form>
  </div>
</div>
<!-- Portfolio--><a id="portfolio" href="" title=""><i class="fa fa-link"></i></a>
<!-- CodePen--><a id="codepen" href="" title=""><i class="fa fa-codepen"></i></a>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>


  {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>


{% endblock body %}