{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">


<!-- Mixins-->
<!-- Pen Title-->

<div class="container" style="padding-bottom:2%">
  <div class="card"></div>
  <div class="card">

      <div class="profile-userpic">
          <img src="" class="img-responsive" alt="{{ user.user_pic }}">
      </div>

      <p class="title">{{ user.username }}
        <br>
        <span class="useremail text-lowercase">{{ user.email }}</span>
      </p>
        {% if  user.is_mentor %}
        <h3 class="orgtitle">Organization: {{ user.user_org }}</h3>
         <h4 class="orgtitle">About: {{ user.user_bio }}</h4>
        <ul class="icons usericon">
            <li><a href="{{ user.user_github }}"><i class="fa fa-github fa-4x  margin-left: 5em;" style="color:pink"></i></a></li>
            <li><a href="{{ user.user_linkedin }}"><i class= "fa fa-linkedin fa-4x margin-left: 5em;" style="color:pink"></i></a></li>
        </ul>
         {%endif %}

  </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


  {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>

<style>
        .profile-userpic img {
          float: none;
          margin: 0 auto;
          width: 50%;
          height: 50%;
          -webkit-border-radius: 50% !important;
          -moz-border-radius: 50% !important;
          border-radius: 50% !important;
                  padding-bottom:3%;
        }
          .title {
            font-size:1.5em;
          }
          .usertext {
            color:black;
          padding:0 0 3% 0;
          }
          .useremail {
            font-size:0.6em;
          }
        .usericon {
            padding:4% 0 0 0;
          }
        .orgtitle {
            color:#F33A64;
            padding:2% 0 4% 0;
          }

</style>

{% endblock body %}