{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">


<!-- Mixins-->
<!-- Pen Title-->

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Be A Mentor</h1>
	<form action="{% url 'register_mentor' %}" method="POST">
    {% csrf_token %}
       <div class="panel-body">
            <form role="form" action="{% url 'password_change' %}" method="POST">
            {% csrf_token %}
                <fieldset>
                    <div class="row">
                        <div class="center-block profile-img" style="text-align: center">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x" style="color:#eee;"></i>
                            </span>
                        </div> <!-- center-block -->
                    </div> <!-- row -->
                    <div class="row">
                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                            <p align="center"> {{ request.user.username }}
                                <a href="{{ request.user.email }}">{{ request.user.email }}</a>
                            </p>
                            <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expeditedssl"></i>
                                    </span>
                                    <input type="text" id="Username" required="required" name="user_github"/>
                                </div> <!-- input-group-addon -->
                                {% if form.user_github.errors %}
                                <div class="alert alert-danger">
                                    <i class='fa fa-warning'></i> {{ form.user_github.errors }}
                                </div> <!-- alert danger -->
                                {% endif %}
                            </div> <!-- input-group -->
                            <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expeditedssl"></i>
                                    </span>
                                     <input type="text" id="Username" required="required" name="user_linkedin"/>
                                </div> <!-- input-group-addon -->
                                {% if form.user_linkedin.errors %}
                                <div class="alert alert-danger">
                                    <i class='fa fa-warning'></i> {{ form.user_linkedin.errors }}
                                </div> <!-- alert danger -->
                                {% endif %}
                            </div> <!-- input-group -->
                            <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expeditedssl"></i>
                                    </span>
                                    <input type="text" id="Username" required="required" name="user_bio"/>
                                </div> <!-- input-group-addon -->
                                {% if form.user_bio.errors %}
                                <div class="alert alert-danger">
                                    <i class='fa fa-warning'></i> {{ form.user_bio.errors }}
                                </div> <!-- alert danger -->
                                {% endif %}
                            </div> <!-- input-group -->
                            <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expeditedssl"></i>
                                    </span>
                                    <input type="text" id="Username" required="required" name="user_org"/>
                                </div> <!-- input-group-addon -->
                                {% if form.user_org.errors %}
                                <div class="alert alert-danger">
                                    <i class='fa fa-warning'></i> {{ form.user_org.errors }}
                                </div> <!-- alert danger -->
                                {% endif %}
                            </div> <!-- input-group -->
                        </div> <!-- col-sm-12 col-md-10 -->
                    </div> <!-- row -->
                </fieldset>
        </div> <!-- panel-body -->
    </div> <!-- panel -->
			<div class="form-group" style="text-align:center">
								 <button type="submit" class="btn-new btn-white" >Mentor Now <i class="fa fa-paper-plane"></i></button>
				 </div> <!-- form-group -->
	 </form>
 </div>





  {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}


</section>


{% endblock body %}