{% load staticfiles %}
	<style>
	 #doc-table {
		 width: 100%
	 }
 </style>
	<!--contact-->
	<div class="row" style="padding: 10px 50px 10px 50px">
		{% if doctorsfound %}
			{% for doctor in doctorsfound %}
			<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel panel-heading" style="padding-bottom:20px;">
					<i class="fa fa-user-md fa-5x fa-pull-right"></i>
						<h3>Dr. <b>{{ doctor.doctor_name }}</b></h3>
					</div>
					<div class="panel-body">
					<div class="table-responsive">
						<table class="table-bordered table-responsive table-striped table-hover table-condensed" id="doc-table">
							<col width="50%">
							<col width="100%">
							<tbody>
								<tr>
									<td><b> Clinic</b></td>
									<td> {{ doctor.get_clinic_name }} </td>
								</tr>
								<tr>
									<td><b> Specialization</b></td>
									<td> {{ doctor.doctor_specialization }} </td>
								</tr>
								<tr>
									<td><b> Qualification</b></td>
									<td> {{ doctor.doctor_qualification }} </td>
								</tr>
								<tr>
									<td><b>Booking Fees</b></td>
									<td><i class="fa fa-inr"></i> {{ doctor.doctor_booking_fees }} </td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>

						<div class="panel-footer">
						<a href="#" class="btn btn-primary" id="{{ doctor.doctor_id }}" onclick="getId(this.id)"role="button" data-toggle="modal" data-target="#avail-modal">Availablity</a>
						<a href="{% url 'clinic_common_view' doctor.get_clinic_id %}" target="_blank" class="btn btn-default">Clinic</a>
						<div style="float:right; font-size:17px">
						<span class="label label-primary"><i class="fa fa-map-marker"> </i> {{ doctor.get_clinic_city }} </span>
					</div>
						</div>

				</div>
			</div>
			{% endfor %}
		{% else %}
		<div class="alert alert-danger" style="text-align: center">
			 No Doctors on that query. Please try again
		</div>
		{% endif%}
	</div>
<!-- Modal -->
<div class="modal fade" id="avail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel" style="text-align:center">Doctor Availability</h4>
			</div>
			<div class="modal-body" style="text-align:justify">
					<div class="table-responsive">
						<table class="table table-striped table-condensed table-hover">
							<tr>
									<th>Available Slot </th>
									<th>Time </th>
									<th>Fees (<i class="fa fa-inr"></i>)</th>
							</tr>
							<tr>
										<td>
												<div class="slot">
												</div>
										</td>
										<td>
												<div class="time">
												</div>
										</td>
										<td>
												<div class="fees">
												</div>
										</td>

							</tr>
						</table>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function getId( id ) {
			var self = this
			var csrftoken = Cookies.get('csrftoken');
			$.ajax({
				url: 'availability/',
				data:{
					'csrfmiddlewaretoken' : csrftoken,
					'doctor_id' : id
				},
				success: function(data) {
					self.show_avail(data)
				}
			})
		}
		var show_avail = function(data){
			var avail_slot = data.results.Availability_slot
			var avail_time = data.results.Availability_time
			var booking_feees = data.results.Booking_fees + '/-'
			$('.slot').html("")
			$('.time').html("")
			$('.fees').html("")
			if ( avail_slot == 0 || avail_time == 0 ) {

				$('.slot').html("No data")
				$('.time').html("<p>No data</p>")
				$('.fees').html(booking_feees)
			} else {
				for ( var slot in avail_slot ) {
						$('.slot').append(avail_slot[slot])
						$('.slot').append("<br>")
				}

				for( var time in avail_time ) {
						$('.time').append(avail_time[time])
						$('.time').append("<br>")
				}

				$('.fees').html(booking_feees)
			}

		}
</script>
