{% load staticfiles %}
<div class="container" style="padding-top:5%">
  <div id="searchbox">
    <div class="panel panel-success">
      <div class="panel panel-heading panel-primary" style="text-align:center">
        <h1 style="font-size: 40px">Find your <span style="font-weight:bold; ">Doctor</span> <i class="fa fa-user-md"></i></h1>
        </div>
      <div class="panel-body text-center">
        <form name="searchForm" id="autocomplete-me" class="form-inline " method="get" action="{% url 'doctor_search' %}">

          <div class="input-group">
          {% if searchedspecialization %}
          <input list="specializations" placeholder="Specialization" name="specialization" type="select" class="form-control" required="required" value="{{searchedspecialization}}" autocomplete="off">
          {% else %}
          <input list="specializations" placeholder="Specialization" name="specialization" type="select" class="form-control" required="required" autocomplete="off">
          {% endif  %}
          <datalist id="specializations">
            {% if allSpecializations %}
              {% for spec in allSpecializations %}
                  <option value="{{spec.doctor_specialization}}">
              {% endfor %}
            {% endif %}
          </datalist>
          <span class="input-group-addon" style="overflow: visible"><i class="fa fa-user-md"></i></span>
        </div>

        <div class="input-group">
          {% if searchedcity %}
            <input list="cities" placeholder="Your City" name="city" type="select" class="form-control"  value="{{ searchedcity }}" required="required" autocomplete="off">
          {% else %}
            <input list="cities" placeholder="Your City" name="city" type="select" class="form-control" required="required" autocomplete="off">
          {% endif %}
          <datalist id="cities">
            {% if allCity %}
              {% for clinic in allCity %}
                  <option value="{{clinic.city}}">
              {% endfor %}
            {% endif %}
          </datalist>
          <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        </div>

          <div class="input-group" style="padding-top :0.2%">
            <select id="when" class="form-control">
            <option> Today </option>
            <option> Tomorrow </option>
            <option> This week </option>
            <option> Next week </option>
            </select>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
            <!-- Button -->
            <div class="input-group" style="margin-top : -0.5%">
              <button type="submit" href="#" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> Search</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
