{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container container-top" style="padding-top: 8%">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading"><h1 style="text-align:center">Learning</h1></div>
        <div class="panel-body portal_panel" >
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
                  <a href=""><div class="dashboard-stat blue">
                      <div class="visual">
                          <i class="fa fa-film"></i>
                      </div>
                      <div class="details">
                          <div class="number">
                              <span data-counter="counterup" data-value="{{ total_courses }}">{{ total_courses }}</span>
                          </div>
                          <div class="desc"> Total courses </div>
                      </div>
                      <a class="more" href="javascript:;"> Available
                          <i class="m-icon-swapright m-icon-white"></i>
                      </a>
                  </div></a>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                      <a href=""><div class="dashboard-stat blue">
                          <div class="visual">
                              <i class="fa fa-hand-scissors-o"></i>
                          </div>
                          <div class="details">
                              <div class="number">
                                  <span data-counter="counterup" data-value="{{ enrolled_courses }}">{{ enrolled_courses }}</span>
                              </div>
                              <div class="desc"> Courses Enrolled </div>
                          </div>
                          <a class="more" href="javascript:;"> Enrolled
                              <i class="m-icon-swapright m-icon-white"></i>
                          </a>
                      </div></a>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                          <a href=""><div class="dashboard-stat blue">
                              <div class="visual">
                                  <i class="fa fa-shopping-cart"></i>
                              </div>
                              <div class="details">
                                  <div class="number">
                                      <span data-counter="counterup" data-value="{{ in_cart_items }}">{{ in_cart_items }}</span>
                                  </div>
                                  <div class="desc"> Items in cart </div>
                              </div>
                              <a class="more" href="javascript:;"> Cart
                                  <i class="m-icon-swapright m-icon-white"></i>
                              </a>
                          </div></a>
                      </div>
                    </div>
        </div>
        <div class="panel-footer">
        <p><a href="" class="btn btn-default" role="button">All courses</a></p>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading"><h1 style="text-align:center">Mentoring</h1></div>
        <div class="panel-body portal_panel">
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
                  <a href=""><div class="dashboard-stat green">
                      <div class="visual">
                          <i class="fa fa-graduation-cap"></i>
                      </div>
                      <div class="details">
                          <div class="number">
                              <span data-counter="counterup" data-value="{{mentored_courses}}">{{mentored_courses}}</span>
                          </div>
                          <div class="desc"> Mentored courses </div>
                      </div>
                      <a class="more" href="javascript:;"> View all
                          <i class="m-icon-swapright m-icon-white"></i>
                      </a>
                  </div></a>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                      <a href=""><div class="dashboard-stat green">
                          <div class="visual">
                              <i class="fa fa-user"></i>
                          </div>
                          <div class="details">
                              <div class="number">
                                Manage
                              </div>
                              <div class="desc"> Your courses </div>
                          </div>
                          <a class="more" href="javascript:;"> Dash
                              <i class="m-icon-swapright m-icon-white"></i>
                          </a>
                      </div></a>
                  </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                      <a href=""><div class="dashboard-stat green">
                          <div class="visual">
                              <i class="fa fa-bolt"></i>
                          </div>
                          <div class="details">
                              <div class="number">
                                Create
                              </div>
                              <div class="desc"> New Course </div>
                          </div>
                          <a class="more" href="javascript:;"> Dash
                              <i class="m-icon-swapright m-icon-white"></i>
                          </a>
                      </div></a>
                  </div>



                </div>
        </div>
        <div class="panel-footer">
        <p><a href="" class="btn btn-default" role="button">My courses</a></p>
        </div>
      </div>

    </div>

  </div>



</div>
{% endblock body %}
