{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<div class="container container-top">

    {% if success %}
    <div style="padding-top: 15px;">
    <h1 style="text-align: center">Your checkout is successful :)</h1> <br>
    </div><!--page-header-->
    <div class="row">
        <div class="alert alert-success" style="text-align: center">
            You have succesffully checked out the course(s). Good Job!
          </div><!--alert alert-success-->
    </div><!--row-->
    {% else %}
    <div style="padding-top: 15px;">
    <h1 style="text-align: center">Something went wrong :(</h1> <br>
    </div><!--page-header-->
    <div class="row">
        <div class="alert alert-danger" style="text-align: center">
            Stay calm and contact one of the admins!
          </div><!--alert alert-success-->
    </div><!--row-->
    {% endif %}

</div>
{% endblock body %}
