{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">


<!-- Mixins-->
<!-- Pen Title-->


    <h1 style ="padding:5% 0% 0% 0%;text-align: center; font-size:3em;">Logged Out </h1>
<div><i style="white" class="fa fa-thumbs-o-down fa-4x"></i></div>

    <p style ="padding:10% 20% 20% 20%">You have succesfully logged out from your account. Thank You!</p>


    {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>


{% endblock body %}
