{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Change Password</h1>
      <p style="color:black">{{ request.user.username }}</p>
      <p style="color:black">{{ request.user.email }}</p>
        <div class="panel-body">
            <form role="form" action="{% url 'password_change' %}" method="POST">
            {% csrf_token %}

               <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                  <div class="input-container">
                    <input type="password" id="password_old" name="old_password" required="required"/>
                    <label for="Password">Old Password</label>
                    <div class="bar"></div>
                  </div>
                   {% if form.old_password.errors %}
                        <div class="alert alert-danger">
                            <i class='fa fa-warning'></i> {{ form.old_password.errors }}
                        </div> <!-- alert danger -->
                   {% endif %}
               </div>

                <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                  <div class="input-container">
                    <input type="password" id="password" required="required" name="new_password1"/>
                    <label for="Password">New Password</label>
                    <div class="bar"></div>
                  </div>
                    {% if form.new_password1.errors %}
                        <div class="alert alert-danger">
                            <i class='fa fa-warning'></i> {{ form.new_password1.errors }}
                        </div> <!-- alert danger -->
                    {% endif %}
                </div>

                <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                  <div class="input-container">
                    <input type="password" id="confirm_password" required="required" name="new_password2"/>
                    <label for="Repeat Password">New Password(again)</label>
                    <div class="bar"></div>
                  </div>
                  {% if form.new_password2.errors %}
                    <div class="alert alert-danger">
                        <i class='fa fa-warning'></i> {{ form.new_password2.errors }}
                    </div> <!-- alert danger -->
                  {% endif %}
                 </div>

                  <div class="button-container">
                    <button><span>Done</span></button>
                  </div>

            </form>
        </div>
    </div>

   </div>
{% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}




<script>
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
</section>
{% endblock body %}