{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}
<section id="banner">
<h1 style ="padding:5% 0% 0% 0%;text-align: center; font-size:3em;">Password reset mail sent!</h1>
    <div><i style="white" class="fa fa-thumbs-o-up fa-4x"></i></div>
            <p style ="padding:8% 20% 20% 20% ;font-size:1.5em">We've e-mailed you instructions for setting your password to the e-mail address you submitted. You will be receiving it shortly</p>
			
{% include 'static/login-model.html' %}
{% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>


{% endblock body %}