{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">
        <i class="fa fa-check-square-o fa-5x sucess"></i>
        <p class="text">Password Changed Successfully!</p>
    <br>
        <p class="text1">You have succesffully changed your password!</p>

</section>
<style>
    .text {
        text-align: center;
        width:100%;
        font-size:2em;
        padding:3% 0 0 0;
    }
    .text1 {
        padding:3% 0 20% 0;
        font-size:1em;
        text-align: center;
    }
    .sucess {
        color:#28F328;
        padding:8% 0 0 0;
    }

</style>
{% include 'static/login-model.html' %}
{% endblock body %}
