{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}
<section id="banner">
<div class="container container-top">
<div class="col-sm-6 col-md-4 col-md-offset-4" style="padding-top: 15px">
        <div class="page-header">
        <h1 style="text-align: center">Password Reset Successfully!</h1>
    </div><!--page-header-->
    <div class="row">
        <div class="alert alert-success" style="text-align: center">
            Your password has been set. You may go ahead and log in now.
        </div><!--alert alert-success-->
    </div><!--row-->
</div> <!-- col-sm-6 col-md-4 col-md-offset-4 -->
</div>
{% include 'static/login-model.html' %}
{% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>


{% endblock body %}