{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}


<section id="banner">


<!-- Mixins-->
<!-- Pen Title-->

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Password Reset</h1>
      <div style="color:#EF3D66;">
          <i class="fa fa-cogs fa-5x"></i>
      </div>
      <p style="color:#584147; font-size:1.1em; padding:3% 0 7% 0;">
        Tell us your email and we will reset your account
      </p> <!-- alert alert-info -->
  <br>
    <form action = "{% url 'password_reset' %}" method = "post">
      {% csrf_token %}
        <div class="input-container">
           <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    <input type="email" id="Username" required="required" name="email"/>
                    <label for="Username">Email</label>
                    <div class="bar"></div>
                </div>
        </div>
        {% if form.email.errors %}
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> {{ form.email.errors }}
            </div> <!-- alert alert-danger -->
        {% endif %}
        <br>
        <div class="button-container">
            <button><span>Done</span></button>
        </div>
        <br>
    </form>
  </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>

{% include 'static/login-model.html' %}
{% endblock body %}
