{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<div class="container container-top">
    <div style="padding-top: 30px;">
    <h2 style="text-align: center">You have updated the  module!</h2> <br>
    </div><!--page-header-->
    <div class="row">
        <div class="alert alert-success" style="text-align: center">
            Your have succesfully updated the module. Good Work!
        </div><!--alert alert-success-->
    </div><!--row-->
    </div>
{% endblock body %}
