{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}
	<div class="container container-top">
	{% block navbar_mentors %}
	{% include 'static/navigation_mentor.html' %}
	{% endblock navbar_mentors %}
  <div class="row" style="padding-top: 15px">
		{{courseEnrolledUsers}}
        {% if object_list %}
              <div style="text-align:center; padding-bottom:15px">
            </div>
              <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover table-condensed">
							<col width="200">
							<col width="auto">
							<col width="100">
							<col width="100">
							<col width="150">
              <thead>
                  <tr>
                      <th>Course Name</th>
                      <th>Course Description</th>
											<th>Fees</th>
                      <th>Approved</th>
											<th>Update</th>
                  </tr>
              </thead>
              <tbody>
              {% for course in object_list %}
              <tr>
                  <td> {{ course.course_name }} </td>
                  <td> {{ course.course_bio }} </td>
									<td> {{ course.course_fees }} </td>
                  <td> {% if not course.approved %} No {% else %} Yes {% endif %} </td>
									<td>
										 <a href="{% url 'mentor_course_update' course.course_id %}"><i class="fa fa-pencil fa-pull-left"> Edit</i></a> <br>
										 <a href="{% url 'mentor_course_module' course.course_id %}"><i class="fa fa-list fa-pull-left"> Modules</i></a> <br>
										 <a href="{% url 'mentor_view_enrolled_users' course.course_id %}"><i class="fa fa-user fa-pull-left"> Enrolled Users</i></a>
									</td>
              </tr>
              </tbody>
              {% endfor %}
            </table>
          </div><!--table-responsive-->
              {% else %}
              <div class="alert alert-danger" style="text-align: center">
								You havent added any courses yet :(
						 	</div>
              {% endif%}
  </div><!--row-->
</div>
{% endblock body %}
