{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}
	<div class="container container-top">
	{% block navbar_mentors %}
	{% include 'static/navigation_mentor.html' %}
	{% endblock navbar_mentors %}
  <div class="row" style="padding-top:15px">
        {% if object_list %}
              <div style="text-align:center; padding-bottom:15px">
            </div>
              <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover table-condensed">
              <thead>
                  <tr>
											<th>Mentee Name</th>
                      <th>Enrollment Time</th>
											<th>Contact</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
              {% for item in object_list %}
              <tr>
                  <td> <a href="{% url 'user_profile_public' item.user.user_id %}"> {{ item.user.get_name }} </a></td>
                  <td> {{ item.enrollment_time }} </td>
									<td><a href="mailto:{{ item.user.get_email }}"><i class="fa fa-envelope fa-pull-left">  Email</i></a> </td>
									<td>
										 <a href="{% url 'course_progress' item.checkout_id %}"><i class="fa fa-star fa-pull-left"> Progress</i></a>
									</td>
              </tr>
              </tbody>
              {% endfor %}
            </table>
          </div><!--table-responsive-->
              {% else %}
              <div class="alert alert-danger" style="text-align: center">
								No students have enrolled to that course yet!
						 	</div>
              {% endif%}
  </div><!--row-->
</div>
{% endblock body %}
