{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">


<!-- Mixins-->
<!-- Pen Title-->

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Be A Mentor</h1>
    <form action="{% url 'register_mentor' %}" method="POST">
    {% csrf_token %}
      <div class="input-container">
        <input type="text" id="Username" required="required" name="user_github"/>
        <label for="Username">github</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="Username" required="required" name="user_linkedin"/>
        <label for="Username">linkedin</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="Username" required="required" name="user_bio"/>
        <label for="Username">bio</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="Username" required="required" name="user_nationality"/>
        <label for="Username">nationality</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Register</span></button>
      </div>
    </form>
  </div>
</div>
<!-- Portfolio--><a id="portfolio" href="" title=""><i class="fa fa-link"></i></a>
<!-- CodePen--><a id="codepen" href="" title=""><i class="fa fa-codepen"></i></a>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!--<script>
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>-->

  {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>


{% endblock body %}