{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Basic Page Needs
	================================================== -->
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KnowYourOrg - code | train | grow</title>
        <meta name="msvalidate.01" content="AACA4869B9C746F7F151D39BF5D19CB2" />
        <meta name="description" content=" ThinkFOSS aims at providing Open Source training and solutions to Individuals, Schools, Universities and Industries in need. ThinkFOSS is a collection of Open Source enthusiasts and entrepreneurs who are ready to spend their time spreading FOSS technologies">
        <meta name="keywords" content="thinkfoss, fossatamrita, training, open source, open source solutions">
        <meta name="author" content="thinkfoss.com">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css"  href="{% static 'home/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/font-awesome.min.css' %}">

        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

        <!-- Stylesheet
	================================================== -->
	
        <!-- home page stylesheets -->
        
        <link rel="stylesheet" type="text/css"  href="{% static 'home/css/main.css' %}">
        
        <!-- login page stylesheets -->
        
        <link rel="stylesheet" type="text/css"  href="{% static 'login/css/reset.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'login/css/style.css' %}">


				
	
</head>
<body class="index">
    <div id="page-wrapper">
		{% block navbar %}
		{% include 'static/navbar-fixed_top.html' %}
		{% endblock navbar %}
		{% block body %}


		{% endblock body %}
    </div>
    
    <!-- home page js -->
    <script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}""></script>
    <script type="text/javascript" src="{% static 'home/js/jquery.dropotron.min.js' %}""></script>
    <script type="text/javascript" src="{% static 'home/js/jquery.scrolly.min.js' %}""></script>
    <script type="text/javascript" src="{% static 'home/js/jquery.scrollgress.min.js' %}""></script>
    <script type="text/javascript" src="{% static 'home/js/skel.min.js' %}""></script>
    <script type="text/javascript" src="{% static 'home/js/util.js' %}""></script>
    <script type="text/javascript" src="{% static 'home/js/main.js' %}""></script>
    
    <!-- login page js -->
    
    <script type="text/javascript" src="{% static 'login/js/index.js' %}"></script>
    <style>
        body {
            background:black;
        }
    </style>
</body>
</html>
