{% load staticfiles %}

<!-- Header -->
				<header id="header" class="reveal alt">
					<h1 id="logo"><a href="{% url 'home' %}">KnowYour<span>org</span></a></h1>
					<nav id="nav">
						<ul>
							{% if not user.is_anonymous %}<li class="current" style="white-space: nowrap;"><a href="index.html">Welcome {{request.user}}</a></li>
							{%endif %}
							{% if  user.is_anonymous %}
							{% elif  user.is_mentor %}
							<li class="submenu opener" style="-webkit-user-select: none; cursor: pointer; white-space: nowrap;">
								<a href="#">Organization</a>
								
							<ul class="" style="-webkit-user-select: none; display: none; position: absolute;">
									<li style="white-space: nowrap;"><a href= "{% url 'organization' %}"  style="display: block;">Organisation</a></li>
									<li style="white-space: nowrap;"><a href="right-sidebar.html" style="display: block;">Right Sidebar</a></li>
									<li style="white-space: nowrap;"><a href="no-sidebar.html" style="display: block;">No Sidebar</a></li>
								</ul></li>
								{% else %}
							<li style="white-space: nowrap;"><a href="{% url 'register_mentor' %}" class="button special">Be a mentor</a></li>
							{%endif %}
							{% if not user.is_anonymous %}
							<li class="submenu opener" style="-webkit-user-select: none; cursor: pointer; white-space: nowrap;">
								<a href="#"><i class="fa fa-cog fa-2x"></i></a>
								
							<ul class="" style="-webkit-user-select: none; display: none; position: absolute;">
									<li style="white-space: nowrap;"><a href="{% url 'demo' %}" style="display: block;">View Profile</a></li>
									<li style="white-space: nowrap;"><a href="{% url 'edit_profile' %}"                                                                                                                                            style="display: block;">Edit Profile</a></li>
									<li style="white-space: nowrap;"><a href="{% url 'password_change' %}" style="display: block;">Change Password</a></li>
									<li style="white-space: nowrap;"><a href="{% url 'logout' %}" style="display: block;">Log Out</a></li>
                                                        </ul></li>
							{% else %}
							<li style="white-space: nowrap;"><a href="{% url 'login' %}" class="button special">Log In</a></li>
							{%endif %}
						</ul>
					</nav>
				</header>