{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="bannerorg">


    <div id="orgdetails">

            <div class="row">

{% if object_list %}
                {% for obj in object_list %}
                <div class="orgdata col-md-12">


                        <div class="logo">
                            <img src="{% if obj.org_icon %} {{ obj.org_icon.url }}{% else %}./../media/org_icon/default.jpg{% endif %}">
                        </div>

                        <p class="lead text-center" id="orgtitle">{{ obj.org_name }}</p>


                        <div class="textbig" style="font-size:1.2em;">
                            <div id="thisdiv" class="small">
                                    <p class="lead text-center " id="orgdescrp">{{ obj.org_description }}</p>

                            </div>

                            <div class="expandlink">
                                <i id="arrow" class="fa fa-arrow-down"></i>
                                <a class="expand" href="#">Click to read more</a>
                                <i id="arrow1" class="fa fa-arrow-down"></i>
                            </div>
    {% endfor %}                    </div>
{% endif %}





                        <p class="lead links">

                            <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" >
                                    <i class="fa fa-globe fa-2x"></i>
                                    HomePage
                            </a>
                            <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" >
                                    <i class="fa fa-comment-o fa-2x"></i>
                                    IRC
                            </a>
                            <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" >
                                    <i class="fa fa-envelope-o fa-2x"></i>
                                    E-Mail
                            </a>
                            <span class="sublink">
                                <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" >
                                        <i class="fa fa-globe fa-2x"></i>
                                        HomePage
                                </a>
                                <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" >
                                        <i class="fa fa-comment-o fa-2x"></i>
                                        IRC
                                </a>
                                <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" >
                                        <i class="fa fa-envelope-o fa-2x"></i>
                                        E-Mail
                                </a>
                            </span>
                        </p>

                </div>


                        <!--<p id="tagtitle">Tags</p>-->
                            <!--<ul>-->
                                <!--<li> tag1 </li>-->
                            <!--</ul>-->




                 <!--<div id="mentorslist">-->
                            <!--<h3 id="mentorstitle"> Mentor</h3>-->


                                <!--{% if users %}-->

                                <!--<ul>-->
                                <!--{% for user in users %}-->


                                    <!--<li>-->
                                        <!--<a href="../../user/profile/view_public/{{user.user_id}}/">-->
                                            <!--<img src="{% if user.user_pic %} {{ user.user_pic.url }}{% else %}./../media/user_pic/default.jpg{% endif %}">-->
                                            <!--<p>{{ user.username }}</p>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--{% endfor %}-->
                                <!--</ul>-->
                                <!--{% else %}-->
                                    <!--<p>No mentors are available.</p>-->
                                <!--{% endif %}-->
                            <!--</div>-->
        </div>
    </div>









<script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>



</section>
<script>
$('.textbig').find('a[href="#"]').on('click', function (e) {
    e.preventDefault();
    this.expand = !this.expand;
    $(this).text(this.expand?"Click to collapse":"Click to read more");
    $("#thisdiv").toggleClass("big small");
    $("#arrow").toggleClass("fa-arrow-up fa-arrow-down");
    $("#arrow1").toggleClass("fa-arrow-up fa-arrow-down");
});

</script>

<style>

</style>


{% endblock body %}