{% extends "static/base.html" %}

{% load staticfiles %}
{% load register_extras %}
{% block body %}
<div class="container container-top">
  {% block navbar_mentors %}
  {% include 'static/navigation_mentor.html' %}
  {% endblock navbar_mentors %}
      <h1 style="text-align: center">Delete Course</h1> <br>
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <div class="alert alert-danger" style="text-align: center">
                Are you sure you want to delete "{{ object.course_name }}"?</div>
            <div class="form-group">
						 <div class="col-sm-offset-5 col-sm-2">
								 <button type="submit" class="btn btn-danger btn-block">Confirm</button>
						 </div> <!-- col-sm-offset-6 -->
				 </div> <!-- form-group -->
        </form>

</div>
{% endblock body %}
