{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<section id="banner">

 <h1 style ="padding:5% 0% 0% 0%;text-align: center; font-size:3em;">Mentor Registered Successfully!</h2> <br>
     <p style ="padding:8% 20% 20% 20% ; font-size:2em;">
    You will be informed if acepted
    </p>

  {% block footer %}
            {% include 'static/footer-fixed.html' %}
		{% endblock footer %}

</section>


{% endblock body %}