{% extends "static/base_home.html" %}
{% load staticfiles %}
{% load register_extras %}
{% block body %}
<script>
$(document).ready(function() {
    $('#id_solution_deadline').datepicker({
      changeYear: true,
      changeMonth: true,
      changeYear: true,
      showOtherMonths: true,
      selectOtherMonths: true,
			yearRange: "1940:2015"
    });
});
</script>
<div id="solutions">
    <div class="overlay">
      <div class="container-top">
	       <div class="row">
              <div class="col-md-8">
          			<div class="section-title" style="text-align: left">
          				<h2 style="text-align:center">Solution <strong>Request</strong></h2>
          				<div class="clearfix"></div>
          			</div>
          			<br>
          				<form class="form-horizontal" id="registerForm" method="POST"
          					enctype="multipart/form-data" action="{% url 'solution_create' %}">
          					<fieldset>
          							{% csrf_token %} {% load tz %}
          							{% for field in form.visible_fields %}
          							<div id="div_{{ field.html_name }}"
          									class="form-group{% if field.errors %} has-error{% endif%}">
          									<label class="col-sm-4 control-label" for="{{ field.id_for_label }}">
          											{{ field.label }}
          									</label>
          						<div class="col-md-6 cnt-inpt">
          							{{ field|addcss:"form-control" }}
          							<div class="text-muted pull-right">
          													<small>{{ field.help_text }}</small>
          											</div> <!-- form-group -->
          											<span class="help-block">
          													{% for error in field.errors %} {{error }} {% endfor %}
          											</span> <!-- help-block -->
          									</div> <!-- col-sm-4 -->
          					</div>
          					{% endfor %}
          							{% for hidden in user_form.hidden_fields %} {{ hidden }} {% endfor %}

          						<div class="form-group" style="text-align:center">
          											 <a href="#tf-courses"><button type="submit" class="btn-new  btn-white" >Create Request</button></a>
          							 </div> <!-- form-group -->
          					 </fieldset>
          				 </form>
          			</div>

            <div class='col-md-4'>
              <div class="row">
                <h1 class="section-title"> Create a Request</h1>
                <p class='intro'> Great! Add in the details of your new solution, and we will contact you in the latest with a quote. If some fields looks greek to you, just leave it and submit </p>
                <br><br>
                <h2>Notes</h2> <br>
                <ul class='mentor-list'>
                    <li>
                        <span class='fa fa-check'></span>
                        <strong>Wait for confirmation email</strong>
                    </li>
                    <li>
                        <span class='fa fa-phone'></span>
                        <strong>Stuck ? Contact one of us</strong>
                    </li>

                </ul><br>
            </div>
          </div>


            </div>
          </div>
  </div>
</div>
  {% include 'static/login-model.html' %}
  {% endblock body %}
